@import '../../styles/variables';


.pagination {
  display: flex;
  margin: 34px 0;
  justify-content: center;
  align-items: center;

  .pagination-arrow {
    font-size: 30px;
    color: $primary-red;
    &.disabled {
      opacity: .35;
      pointer-events: none;
    }
  }

  .number-items {
    display: flex;
    margin: 0 53px;
    .number-item {
      display: inline-block;
      border-radius: 50%;
      padding: 13px;
      margin: 0 7px;
      font-family: $opensans-semibold;
      color: $text-color;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
  
      &.active {
        background-color: #ffffff;
        color: $primary-red;
        border: 1px solid $primary-red;
      }

      &.ellipsis {
        font-family: $opensans-bold;
        color: $primary-red;
      }
    }
  }
  
}