@import '../../styles/variables';


.pagination {
  display: flex;
  margin: 34px 0;
  justify-content: center;
  align-items: center;

  .number-items {
    display: flex;
    margin: 0 53px;
    .number-item {
      display: inline-block;
      border-radius: 50%;
      padding: 13px;
      margin-left: 7px;
      font-family: $opensans-semibold;
      color: $text-color;

      &.active {
        background-color: $white;
        color: $primary-red;
        border: 1px solid $primary-red;
      } 
    }
  }
  
}