@import '../../styles/variables';

.fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;

    &.buttons-container {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    label {
      font-size: 16px;
      color: $text-color;
      margin-bottom: 5px;
    }
    input[type="text"], input[type="password"] {
      padding: 15px 8px;
      background-color: $white;
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 20px;
    }
  }

  .error {
    &:after {
      content: '';
      position: absolute;
      top: -13px;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      
      border-bottom: 10px solid $alert-red-border;
    }

    font-size: 12px;
    font-family: $opensans-semibold;
    color: $alert-red-border;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0; right: 0;
      height: 3px;
      background-color: $alert-red-border;
    }
    p {
      padding: 5px 0 0 9px;
    }
}