@import '../../../styles/variables';


$validation-color: #69b302;
$cancel-color: #b70011;

button.form-button, .form-button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 23px;
  font-size: 20px;
  flex: .5;
  font-family: $opensans-semibold;
  text-align: center;
  margin-bottom: 7px;

  &:only-child {
    flex: 1;
  }

  &.validation {
    border-color: $validation-color;
    color: $validation-color;

    &:hover {
      background-color: rgba($validation-color, .25);
    }

    &:focus {
      background-color: rgba(darken($validation-color, 10%), .25);
    }
  }

  &.cancel {
    border-color: $cancel-color;
    color: $cancel-color;

    &:hover {
      background-color: rgba($cancel-color, .25);
    }

    &:focus {
      background-color: rgba(darken($cancel-color, 10%), .25);
    }
  }
  
  &:disabled {
    opacity: .3;
    cursor: not-allowed;
    &:hover {
      background-color: transparent;

    }
  }
}