@import '../../../styles/variables';


$validation-color: #69b302;
$cancel-color: #69b302;

button.form-button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 23px;
  font-size: 20px;
  flex: .5;
  font-family: $opensans-semibold;

  &.validation {
    border-color: $validation-color;
    color: $validation-color;

    &:hover {
      background-color: rgba($validation-color, .25);
    }
  }
}