@import '../../styles/variables';

.title {
  font-family: $opensans-semibold;
  color: $text-color;
  font-size: 30px;
  margin-bottom: 20px;
}

.bordered-title {
  @extend .title;

  padding-left: 12px;
  border-left: 5px solid $primary-red;
}


