@import '../../../styles/variables';

.CustomSelectContainer {
  p {
    font-family: $opensans-semibold;
    color: $text-color;
    font-size: 16px;
  }
}

.CustomSelect {
  padding: 0;
  margin: 7px 0 25px 0;
  border: $primary-red 2px solid;
  border-radius: 3px;
  overflow: hidden;

  select {
    padding: 18px 8px;
    width: 105%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    // color: $primary-red;
    color: $text-color;

    font-size: 22px;
    font-family: $opensans-regular;

    &:focus {
      outline: none;
      outline-color: transparent;
    }
  }
}