@import '../../../styles/variables';


.form {
  input[type='text'], input[type='search'] {
    border: none;
    border-bottom: 2px solid $primary-red;
    background: none;
    font-family: $opensans-regular;
    appearance: none;
  }

  .main-input {
    display: flex;
    margin-bottom: 38px;

    button {
      background: $primary-red;
      color: $white;
      padding: 18px;
      border-radius: 3px;
      border: 2px solid $primary-red;
      position: relative;
      width: 52px; height: 52px;

      &:focus {
        background: $white;
        color: $primary-red;
      }

      .icon-magnifier {
        font-size: 30px;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    input[type='text'], input[type='search'] {
      font-size: 35px;
      color: $primary-red;
      width: 100%;
      padding-left: 14px;

      &:focus {
        outline: none;
        border-bottom: 2px solid $text-color;
      }

      :placeholder-shown {
        border-color: silver;
      }
    }

  }
}