@import '../../../styles/variables';

.navigation {
  border-bottom: 1px solid $primary-red;
  padding: 26px 0 16px 0;
  margin-bottom: 15px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      &:after {
        content: '•';
        padding: 0 5px;
      }
      &:last-child, &:first-child {
        &:after {
          content: '';
          padding: 0;
        }
      }

      &.home {
        margin-right: auto;
      }

      a {
        color: $primary-red;
        text-decoration: underline;
        font-family: $opensans-regular;
        font-size: 14px;
        &:visited {
          color: $primary-red;
        }
        &:hover, &:active, &:focus {
          color: $text-color;
          text-decoration: none;
        }

        &.logout {
          font-family: $opensans-bold;
        }
      }
    }
  }
}

