@import '../../styles/variables';

.classified_advertisement {
  padding: 0 46px;
  color: $text-color;

  transition: background-color 200ms linear;

  &:hover {
    background-color: rgba(234, 235, 236, .8);
  }

  a {
    border-bottom: 1px solid $primary-red;
    padding: 40px 0;
    display: flex;
    color: $text-color;

    &:visited, &:hover, &:active {
      color: $text-color;
    }
  }

  &:last-child {
    a {
      border-bottom: none;
    }
  }

  figure {
    width: 160px;
    height: 160px;
    img {
      object-fit: contain;
      width: 160px;
      height: 160px;
    }
  }

  article {
    padding-left: 35px;
    display: flex;
    flex-direction: column;

    h3 {
      font-family: $opensans-bold;
      font-size: 22px;
      color: $primary-red;
      margin-bottom: 20px;
    }
    
    .date {
      font-size: 12px;
      margin-top: auto;
      font-family: $opensans-regular;
    }
  }

  .price {
    font-family: $opensans-bold;
    color: $primary-red;
    font-size: 28px;
    margin-left: auto;
  }
}

