@import '../../styles/variables';

.ClassifiedAdvertisementContainer {
  max-width: $website-width;
  min-width: 800px;
  padding: 0px 10px;
  margin: 0 auto;

  border-top: 4px solid $primary-red;
  padding-top: 84px; 
}