@import '../../styles/variables';

.flash-message {
  border: 1px solid #fff;
  width: auto;
  padding: 16px 14px;
  font-size: 16px;
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  transition: opacity .5s linear;

  p {
    font-family: $opensans-regular;
  }

  &.closed {
    opacity: 0;
  }

  .icon-close {
    font-size: 25px;
    color: inherit;
  }

  &.error {
    border-color: $alert-red-border;
    color: $alert-red-border;
    background-color: $alert-red-color;
  }

  &.info {
    border-color: $alert-blue-border;
    color: $alert-blue-border;
    background-color: $alert-blue-color;
  }

  &.success {
    border-color: $alert-green-border;
    color: $alert-green-border;
    background-color: $alert-green-color;
  }
}
