$primary-red: #a7120c;
$second-red: #993d3d;

$body-background-color: #f3f3f3;

$opensans-light: 'open_sanslight', 'Helvetica Neue', Arial, sans-serif;
$opensans-regular: 'open_sansregular', 'Helvetica Neue', Arial, sans-serif;
$opensans-semibold: 'open_sanssemibold', 'Helvetica Neue', Arial, sans-serif;
$opensans-bold: 'open_sansbold', 'Helvetica Neue', Arial, sans-serif;