$primary-red: #a7120c;
$second-red: #993d3d;
$text-color: #333333;
$text-color-second: #616161;
$dark-white: #f7f9f5;
$white: #fff;
$light-gray: #f5f7f9;
$twitter: #1da1f2;

$body-background-color: #f3f3f3;
$header-background-color: #f5f5f5;

$opensans-light: 'open_sanslight', 'Helvetica Neue', Arial, sans-serif;
$opensans-regular: 'open_sansregular', 'Helvetica Neue', Arial, sans-serif;
$opensans-semibold: 'open_sanssemibold', 'Helvetica Neue', Arial, sans-serif;
$opensans-bold: 'open_sansbold', 'Helvetica Neue', Arial, sans-serif;

$georgia: 'Georgia', serif;
$impact: 'Impact', sans-serif;

$alert-green-border: #1f3e06;
$alert-green-color: #c7e5b9;

$alert-red-border: #b70011;
$alert-red-color: #e4b8b9;

$alert-blue-border: #829ea1;
$alert-blue-color: #b9e1e5;

$website-width: 1000px;
$media-query-tablet: 1000px;