@import '../style';
@import '../../../styles/variables';

.InputFile {
  position: relative;
  input[type='file'] {
    display: none;
  }

  figure {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border: 1px solid $text-color;
    overflow: hidden;
    img {
      z-index: 1;
      position: relative;
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .drop-placeholder {
    opacity: .5;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    .icon-download {
      font-size: 150px;
    }
  }

  .dropzone {
    position: relative;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    z-index: 0;
  }

  .dropzone-overlay {
    // position: fixed;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    z-index: 9999;

    &:after {
      content: '';

      position: fixed;
      z-index: 1000;
      // top: 24px; left: 24px; right: 24px; bottom: 24px;
      top: 0; left: 0; right: 0; bottom: 0;
      padding: 24px;
      background-color: rgba($text-color, .85);
      
      border: 3px $white dashed;
    }
  }
}