@import '../style';
@import '../../../styles/variables';

.InputFile {
  position: relative;

  @media screen and (max-width: $media-query-tablet) {
    border: 1px solid $text-color;
    margin-bottom: 25px;
  }

  input[type='file'] {
    display: none;
  }

  figure {
    position: relative;
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: 1px solid $text-color;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      z-index: 1;
      position: relative;
      object-fit: contain;
      vertical-align: bottom;
      width: 100%;
      height: 100%;
    }
  }

  .drop-placeholder {
    opacity: .5;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 16px;
      font-family: $opensans-semibold;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
    }
    
    .icon-download {
      font-size: 150px;
    }
  }

  .dropzone {
    position: fixed;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    z-index: 0;
    opacity: 0;
    color: white;
    transition: opacity .05s;
    display: none;
    &.show {
      display: block;
    }

    .drop-placeholder {
      opacity: 1;
    }
  }

  .dropzone-overlay {
    opacity: 1;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    z-index: 9999;
    background-color: rgba($text-color, .85);

    &:after {
      content: '';
      position: fixed;
      z-index: 1000;
      top: 24px; left: 24px; right: 24px; bottom: 24px;
      padding: 24px;
      border: 3px $white dashed;
    }
  }
}