@import '../../styles/variables';

.logo {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 1px solid $primary-red;
  position: relative;

  .app {
    max-width: 1100px;
    min-width: 800px;
    margin: 0 auto;
    position: relative;

    
  }
}
