@import '../../styles/variables';

.no-results {
  font-family: $opensans-regular;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  color: $text-color;

  h1 {
    font-size: 56px;
    margin-bottom: 26px;
    color: inherit;
  }

  p {
    font-size: 36px;
    font-family: $opensans-light;
    white-space: pre-wrap;
    text-align: center;
    color: inherit;

    &.small {
      font-size: 12px;
      font-family: $opensans-regular;
    }
  }
}
