@import '../../../styles/variables';

.form.sign {

  .fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    &.buttons-container {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    label {
      font-size: 16px;
      color: $text-color;
      margin-bottom: 5px;
    }
    input[type="text"], input[type="password"] {
      padding: 15px 8px;
      background-color: $white;
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 20px;
    }
  }
}

.SignIn {
  
}