@import '../../styles/variables';

.PopinInfos {
  color: $text-color-second;
  font-family: $opensans-regular;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;

  &.forbidden, &.error {
    color: $alert-red-border;
  }

  .buttons-container {
    align-self: normal;

    button.form-button {
      flex: 1;
    }
  }



  h1 {
    font-size: 56px;
    margin-bottom: 26px;
  }

  p {
    font-size: 20px;
    font-family: $opensans-regular;
    white-space: pre-wrap;
    text-align: center;
    color: inherit;
    margin-bottom: 20px;
  }
}