@import 'styles/reset';
@import 'styles/variables';
@import 'styles/fonts';

@import '../node_modules/dad-fonticons/public/style.css';

body {
  margin: 0;
  padding: 0;
  background-color: $body-background-color;
  font-size: 16px;
  padding-bottom: 220px;
  font-family: $opensans-regular;
}

a {
  text-decoration: none;
}

.reset {
  background: none;
  outline: none;
  border: none;
  appearance: button;
  user-select: none;
}

.icon-arrow-right {
  transform: rotate(180deg);
}

.App {
  max-width: $website-width;
  min-width: 800px;
  padding: 0px 10px;
  margin: 0 auto;

  border-top: 4px solid $primary-red;
  padding-top: 70px; 
}

.PopinOverlay {
  position: fixed;
  top: 0; right: 0;
  left: 0; bottom: 0;
  background-color: rgba($text-color, .65);
  z-index: 9900;
  padding: 0 138px;

  transition: opacity 500ms;
  transition-delay: 1s;

  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}

.PopinForm {
  padding: 42px 25px 74px;
  border: 1px solid $primary-red;
  background-color: $white;
  transition: transform 500ms;

  &.closed {
    transform: translate(0, -1000px);
  }
}