@import 'styles/reset';
@import 'styles/variables';
@import 'styles/fonts';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $body-background-color;
  font-size: 16px;
  padding-bottom: 220px;
}

a {
  text-decoration: none;
}

button.reset {
  background: none;
  outline: none;
  border: none;
  appearance: button;
  user-select: none;
}