@import '../../styles/variables';

.NotFoundPage {
  .bordered-title {
    padding-left: 12px;
    border-left: 5px solid $primary-red;

    font-family: $opensans-semibold;
    color: $text-color;
    h2 {
      font-size: 90px;
    }
    p {
      font-family: $opensans-regular;
      font-size: 14px;
    }
    margin-bottom: 50px;
  }

  .tweet {
    blockquote {
      font-family: $georgia;
      font-size: 55px;
      color: $text-color;
      // padding-right: 150px;
      padding-left: 15px;
      width: 90%;
      cursor: pointer;
      position: relative;
      z-index: 1;
      font-style: italic;
      white-space: pre-wrap;
      margin-bottom: 40px;

      &:before, &:after {
        font-family: $impact;
        color: $twitter;
        z-index: -1;
        position: absolute;
        font-size: 165px;
        font-style: normal;
      }

      &:before {
        content: '“';

        top: -38px;
      }

      &:after {
        content: '”';

        line-height: 20px;
        bottom: -116px;
        right: 50px;
        position: relative;
      }
    }

    footer {
      text-align: right;
      font-size: 18px;
      color: $text-color;
      font-family: $opensans-regular;
      display: flex;

      .border {
        flex: 1;
        height: 1px;
        background-color: $twitter;
        align-self: center;
        display: flex;
      }

      span {
        display: inline-block;
        padding-left: 10px;
      }

      a {
        font-family: $opensans-semibold;
        color: $twitter;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: darken($twitter, 30%);
        }
      }
    }
  }

}

